.Hiking {
    width: 350px;
    height: 300px;
}

.hero {
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;
}

.featured-products {
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;

}

.ceo {
    width: 300px;
    height: 300px;

}

.customers {
    width: 300px;
    height: 300px;
}

.accountant {
    width: 300px;
    height: 300px;
}

.product-manager {
    width: 300px;
    height: 300px;
}

.marketing-manager {
    width: 300px;
    height: 300px;
}

.footer {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 37%;
}

.navbar {
    display: inline-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;
    color: white;
}

.hiking-product {
    width: 350px;
    height: 300px;
}

.container {
    color: white;
}

.social-media {
    color: white;
}

.contact-info {
    color: white;
}

.product-kayak {
    width: 350px;
    height: 300px;
    padding-top: 1%;
}

.price {
    text-decoration: underline;
    font-size: 200%;
}